<!-- Profiling Questions Template -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Groupmate Finder</title>

    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<!-- Page Title -->
  <div class="container-fluid">
    <div class="page-header">
      <h1> CS1020: Data Structures and Algorithms <small>Profiling Questions</small></h1>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">Groupmate Finder</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="profile_student.html">My Profile</a></li>
        <li><a href="current_modules_student.html">Modules</a></li>
        <li class="active"><a href="">Profiling Questions</a></li>
        <li><a href="groups_student.html">Groups</a></li>
      </ul>
      <div class="navbar-right">
        <p>Signed in as Student1 </p>
        <a href="/">Sign out</a>
      </div>
    </div>
  </nav>

  <div class="panel panel-default span5">
    <div class="panel-body">
      <h4 align="center">What is your working style?</h4>
      <div class="row col-sm-6 col-md-6 col-md-offset-3">
        <div class="thumbnail">
          <h4 align="center">Questions Answered: 15/30</h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
              50%
            </div>
          </div>
          <p>16. I prefer to work...</p>
          <div class="radio">
            <label><input type="radio" name="optradio">in the morning</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio">in the afternoon</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio">at night</label>
          </div>
          <button type="button" class="btn btn-default btn-block">Submit</button>
        </div>
      </div>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>