<!-- Profiling Questions Template -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Groupmate Finder | Student: Profiling Questions</title>

    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Page Title -->
    <div class="container-fluid">
      <div class="page-header">
        <h1> Groupmate Finder <small>Profiling Questions</small></h1>
      </div>
    </div>
    <!-- End of Page Title -->

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/groupmatefinder">Groupmate Finder</a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="/profile">My Profile</a></li>
          <li><a href="/modules">Modules</a></li>
          <li class="active"><a href="/profilingquestions">Profiling Questions</a></li>
          <li><a href="/groups">Groups</a></li>
        </ul>

        <div class="navbar-right">
          <p>Signed in as {{ user_nickname }} </p>
          <a href="{{ logout }}">Sign out</a>
        </div>

      </div>
    </nav>
    <!-- End of Navigation Bar -->

    <!-- Page Contents -->
    <div class="panel panel-default span5">
      <div class="panel-body">
        <h3 class="content_header">Profiling Questions</h3>
        <br>

        <h4 class="center_align">What is your working style?</h4>
        <br>
        <div class="row col-sm-6 col-md-6 col-md-offset-3">
          <div class="thumbnail">
            <h4 class="center_align">Questions Answered: {{ num_answered }}/5</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                {{ num_answered }}
              </div>
            </div>

            {% if num_answered == 0 %}
              <form action="/profilingquestions" method="post">
                <p>1. I prefer to work...</p>
                <div class="radio">
                  <label><input type="radio" name="work_pref1"  value="{{ q1a }}">{{ q1a }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="work_pref1" value="{{ q1b }}">{{ q1b }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="work_pref1" value="{{ q1c }}">{{ q1c }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="work_pref1" value="{{ q1d }}">{{ q1d }}</label>
                </div>
                <input type="submit" value="Submit">
              </form>

            {% elif num_answered == 1 %}
              <form action="/profilingquestions" method="post">
                <p>2. I'd rather...</p>
                <div class="radio">
                  <label><input type="radio" name="work_pref2" value="{{ q2a }}">{{ q2a }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="work_pref2" value="{{ q2b }}">{{ q2b }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="work_pref2" value="{{ q2c }}">{{ q2c }}</label>
                </div>
                <input type="submit" value="Submit">
              </form>

            {% elif num_answered == 2 %}
              <form action="/profilingquestions" method="post">
                <p>3. Imagine it’s 3 AM in the morning, and the project is due at 9 AM. There is some improvement you guys can do to bring your project up a level, but that would mean no sleep for everyone. You’d say…...</p>
                <div class="radio">
                  <label><input type="radio" name="work_pref3" value="{{ q3a }}">{{ q3a }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="work_pref3" value="{{ q3b }}">{{ q3b }}</label>
                </div>
                <input type="submit" value="Submit">
              </form>

            {% elif num_answered == 3 %}
              <form action="/profilingquestions" method="post">
                <p>4. Someone is proposing an interesting but risky project idea that would guarantee a huge learning opportunity, but might not fetch you a good grade due to the potential difficulties. Your reaction is...</p>
                <div class="radio">
                  <label><input type="radio" name="work_pref4" value="{{ q4a }}">{{ q4a }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="work_pref4" value="{{ q4b }}">{{ q4b }}</label>
                </div>
                <input type="submit" value="Submit">
              </form>

            {% elif num_answered == 4 %}
              <form action="/profilingquestions" method="post">
                <p>5. If I must choose, it's more important that...</p>
                <div class="radio">
                  <label><input type="radio" name="work_pref5" value="{{ q5a }}">{{ q5a }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="work_pref5" value="{{ q5b }}">{{ q5b }}</label>
                </div>
                <input type="submit" value="Submit">
              </form>

            {% elif num_answered == 5 %}
            <p>Congratulations! You have completed the profiling survey. You will be placed in a group soon.</p>

            {% endif %}

            <p>{{ work_pref1 }}</p>
            <p>{{ work_pref2 }}</p>
            <p>{{ work_pref3 }}</p>
            <p>{{ work_pref4 }}</p>
            <p>{{ work_pref5 }}</p>

          </div>
        </div>
      </div>
    </div>
    <!-- End of Page Contents -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>